body {
  min-width: 100%;
  min-width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
body {
  background-color: #e4e6eb;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #071c4d;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071c4d !important;
}

.btn-navbar-right {
  margin-top: -8px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 71px;
  border-radius: 0;
}

.btn-login {
  background-color: #071c4d;
  color: #ffff;
}

.btn-login:hover {
  background-color: #1e3771;
  color: #fff;
}
